* {font-family: arial; font-size:14px;}
html, body {overflow: hidden; height:100%;}
p {padding:0 10px;}
a:hover {text-decoration:none;}
.hide {display:none !important;}
#area .hide {display:inline-block !important}
button {
display:block;
border-radius:3px;
background:#ececec;
margin:20px;
width:100px;
padding:5px;
text-align:center;
border:1px solid #999999;
font-size:10px;
text-transform:uppercase;
line-height:14px;
cursor:pointer;
color:#91B3C6;
}

button::-moz-focus-inner {
    border:none;
}

h6 {
    margin-top:2px;
    border-top:1px solid black;
    font-weight:bold;
    padding-top:3px;
}

h6:empty {
    border:none;
}

[disabled] {
cursor:default;
color:#cbcbcb;
}
#main_content {
	width:100%;
	margin:0 auto;
	position:relative;
	min-height:185px
}

#deck { 
position:relative;
margin-left:13%;
margin-top:25px;
min-height:inherit;
}

article {
position:absolute;
left:2%;
top:0px;
z-index:100;

}

section.wrapper  {
	position:relative;
        max-width: 120px;
	
}

section.wrapper.makeRegular {
    float:left !important;
    position:relative;
}

section.wrapper.showdacard {
    -webkit-transition-duration: 1.5s;
    transition-duration: 2s;
    -webkit-transform:translateX(200px);
     transform:translateX(200px);
}

section.wrapper.showdacard.flip {
    
}

section.wrapper > div {
	position:absolute;
	width:85px;
	height:150px;
	padding:0 15px;
	border:1px solid #cccccc;
	padding-top:0px;
	border-radius:5px;
	-webkit-transition: all 1s ease 1.5s;
    -o-transition: all 1s ease 1.5s;
    transition: all 1s ease 1.5s;
}

section.wrapper.speedUpAnimation > div {
    -webkit-transition: all .8s ease .3s;
    -o-transition: all .8s ease .3s;
    transition: all .8s ease .3s;
}

section.wrapper > div:first-child {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 0;
  text-align:center;
  background-color:white;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

section.wrapper  > div.back {
	z-index:4;
	background-image:url(images/card_background.png);
	background-repeat:no-repeat; 
      /*  background-image:url(images/cityskyline.png);
        background-position:-320px 0px;
	background-repeat: repeat-x;*/


}

section.wrapper  > div.back:hover {
     /*  animation: animatedBackground 20s linear infinite */
}

#player {
	position:absolute;
	height:190px;
	/*width:100%; */
	margin:0 auto;
	
}


#player #area {
	position:relative; 
}

#comp_player {
	height:175px;
	margin:0 auto;	
}

#comp_player #comp_area  {
	/*width:100%;
	margin:0 auto;
	min-height:200px;
	position:relative; */
}

#player #area  div:first-child {
	/*z-index:5;*/

}

div:first-child span {
	display:none;
}

div:first-child a {
	opacity:0;
	position:absolute;
	bottom:2%;
	right:50%;
	padding:5px; 
	font-size:10px;
	text-transform:uppercase;
	cursor:pointer;
	font-weight:bold;
	z-index:100;
	display:inline-block;
	font-family:arial;
	color:#999999;
	text-decoration:none;
	cursor:default;
}

#deck div:first-child a  {
    	transition: opacity 0.5s;
}

div.taketopCard a {
	opacity:100;
	cursor:pointer;
}

#area div.taketopCard a {
    
}

#player div:first-child a.discard {
	opacity:100;
        cursor: pointer;
        transition: opacity 0s;
}



div:first-child p {
	margin-top:50px;
}

/*
####################################
THE CARDS
####################################
*/

.two.clubs {background-image:url(images/cards/two_clubs.png);}
.three.clubs {background-image:url(images/cards/three_clubs.png);}
.four.clubs {background-image:url(images/cards/four_clubs.png);}
.five.clubs {background-image:url(images/cards/five_clubs.png);}
.six.clubs {background-image:url(images/cards/six_clubs.png);}
.seven.clubs {background-image:url(images/cards/seven_clubs.png);}
.eight.clubs {background-image:url(images/cards/eight_clubs.png);}
.nine.clubs {background-image:url(images/cards/nine_clubs.png);}
.ten.clubs {background-image:url(images/cards/ten_clubs.png);}
.jack.clubs {background-image:url(images/cards/jack_clubs.png);}
.queen.clubs {background-image:url(images/cards/queen_clubs.png);}
.king.clubs {background-image:url(images/cards/king_clubs.png);}
.ace.clubs {background-image:url(images/cards/ace_clubs.png);}

.two.diamonds{background-image:url(images/cards/two_diamonds.png);}
.three.diamonds {background-image:url(images/cards/three_diamonds.png);}
.four.diamonds {background-image:url(images/cards/four_diamonds.png);}
.five.diamonds {background-image:url(images/cards/five_diamonds.png);}
.six.diamonds {background-image:url(images/cards/six_diamonds.png);}
.seven.diamonds {background-image:url(images/cards/seven_diamonds.png);}
.eight.diamonds {background-image:url(images/cards/eight_diamonds.png);}
.nine.diamonds {background-image:url(images/cards/nine_diamonds.png);}
.ten.diamonds {background-image:url(images/cards/ten_diamonds.png);}
.jack.diamonds {background-image:url(images/cards/jack_diamonds.png);}
.queen.diamonds {background-image:url(images/cards/queen_diamonds.png);}
.king.diamonds {background-image:url(images/cards/king_diamonds.png);}
.ace.diamonds {background-image:url(images/cards/ace_diamonds.png);}

.two.hearts{background-image:url(images/cards/two_hearts.png);}
.three.hearts {background-image:url(images/cards/three_hearts.png);}
.four.hearts {background-image:url(images/cards/four_hearts.png);}
.five.hearts {background-image:url(images/cards/five_hearts.png);}
.six.hearts {background-image:url(images/cards/six_hearts.png);}
.seven.hearts {background-image:url(images/cards/seven_hearts.png);}
.eight.hearts {background-image:url(images/cards/eight_hearts.png);}
.nine.hearts {background-image:url(images/cards/nine_hearts.png);}
.ten.hearts {background-image:url(images/cards/ten_hearts.png);}
.jack.hearts {background-image:url(images/cards/jack_hearts.png);}
.queen.hearts {background-image:url(images/cards/queen_hearts.png);}
.king.hearts {background-image:url(images/cards/king_hearts.png);}
.ace.hearts {background-image:url(images/cards/ace_hearts.png);}

.two.spades{background-image:url(images/cards/two_spades.png);}
.three.spades {background-image:url(images/cards/three_spades.png);}
.four.spades {background-image:url(images/cards/four_spades.png);}
.five.spades {background-image:url(images/cards/five_spades.png);}
.six.spades {background-image:url(images/cards/six_spades.png);}
.seven.spades {background-image:url(images/cards/seven_spades.png);}
.eight.spades {background-image:url(images/cards/eight_spades.png);}
.nine.spades {background-image:url(images/cards/nine_spades.png);}
.ten.spades {background-image:url(images/cards/ten_spades.png);}
.jack.spades {background-image:url(images/cards/jack_spades.png);}
.queen.spades {background-image:url(images/cards/queen_spades.png);}
.king.spades {background-image:url(images/cards/king_spades.png);}
.ace.spades {background-image:url(images/cards/ace_spades.png);}






@keyframes my-animation {
 from   {left:52px !important; }
 to    {left:455px !important;  }
}

@-webkit-keyframes my-animation {
 from {left:52px; }
 to    {left:455px;  }
}

@keyframes zoom {
    from {transform:scale(1.0)}
    to {transform:scale(1.2)}
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1.0)}
    to {-webkit-transform:scale(1.2)}
}

@-webkit-keyframes color_change {
    0% { background-color: #91b3c6; }
    25% { background-color: #298cc3; }
    50% { background-color: #2943c3; }
    75% { background-color: #9d29c3; }
    100% { background-color: #c3292d; } 
}

@keyframes color_change {
    0% { background-color: #91b3c6; }
    25% { background-color: #298cc3; }
    50% { background-color: #2943c3; }
    75% { background-color: #9d29c3; }
    100% { background-color: #c3292d; }  
}

.zooom {
    -webkit-animation: zoom 3s ease-in-out 1s infinite normal;
    animation: zoom 3s ease-in-out 1s infinite normal;
    z-index: 999;
}

@-webkit-keyframes flipping {
	0% {
-webkit-backface-visibility: visible;
-webkit-transform-origin: 50% 50%;
-webkit-transform: perspective(500px) rotateY(0deg);
-moz-backface-visibility: visible;
-moz-transform-origin: 50% 50%;
-moz-transform: perspective(500px) rotateY(0deg);
backface-visibility: visible;
transform-origin: 50% 50%;
transform: perspective(500px) rotateY(0deg);

}
	100% { 
-webkit-backface-visibility: visible;
-webkit-transform-origin: 50% 50%;
-webkit-transform: perspective(500px) rotateY(180deg);

-moz-backface-visibility: visible;
-moz-transform-origin: 50% 50%;
-moz-transform: perspective(500px) rotateY(180deg);

}

}

#deck section.wrapper.animate {
-moz-animation: my-animation 2s;
-webkit-animation: my-animation 2s;
animation:my-animation 2s;
left:455px !important;
}

#deck section.wrapper.player {
-webkit-transition:all 2.1s ease .8s; 
-moz-transition:all 2.1s ease .8s;
transition:all 2.1s ease .8s;
}

#deck section.wrapper.player.speedUpAnimation {
-webkit-transition:all .8s ease 0s; 
-moz-transition:all .8s ease 0s;
transition:all .8s ease 0s;
}

#deck section.wrapper.player.speedUpAnimation.flipchild {
-webkit-transition:all .4s ease .1s; 
-moz-transition:all .4s ease .1s;
transition:all .4s ease .1s;
}

section.wrapper.player  {
   top:225px;
   
  /* min-height:152px;
   min-width:120px;
   float:left; */
}

#player section.wrapper.player {
    cursor:move;
}

#deck section.wrapper.comp_player {
-webkit-transition:all 2.1s ease .8s; 
-moz-transition:all 2.1s ease .8s;
transition:all 2.1s ease .8s;
}

#player section.wrapper.player.flipchild {
   top:225px;
   min-height:152px;
   min-width:120px;
   float:left;
   margin-left:-25px;
   /*transition-duration:2s; */
}

#player section.wrapper.player.flipchild:first-child {
    margin-left:51px;
}

#player section.wrapper.player.flip.remove_transition_duration {
}

#player section.wrapper.player.flip > div.flip {
}

 section.wrapper.player.flipchild > div.back.flip, #deck section.showdacard.flipit  > div.back  {
 -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); 
  z-index: 1;
}

section.wrapper.player.flipchild > div:first-child, 
#deck section.showdacard.flipit > div:first-child,
#deck section.comp_player.flipit > div:first-child {
  -webkit-transform: rotateY(-360deg);
  -moz-transform: rotateY(-360deg);
  -o-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  transform: rotateY(-360deg); 
  z-index: 5;
}


.ui-state-hover {
background:lightyellow;   
}
.ui-state-active {
background:lightgray   
}


/* START OF OVERLAY */
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(228,43,43,0.9);
        z-index: 1000;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Effects */
.overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.7s 0.3s, visibility 0s 0.9s;
}

.overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}


.overlay-door nav,
.overlay-door .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.5s 0.5s;
	transition: opacity 0.5s 0.5s;
}

.overlay-door.open nav,
.overlay-door.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.overlay-door.close nav,
.overlay-door.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

#trigger-overlay {
    display:block;
    position:absolute;
    top:2%;
    left:2%;
    text-decoration: none;
    font-weight:bold;
    color:#91B3C6;
    font-size: 14px;
    font-family: arial;
    max-width:100px;   
}

#trigger-overlay.newGAME {
    margin:20px;
    max-width: 0;
    padding:10px;
    animation-name: color_change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    max-width:100px;
    font-size:16px;
    color:#171515;
    text-shadow: 0px -2px 2px rgba(250, 240, 240, 1);
}

.overlay h1 {
    font-size:48px;
    font-family: Garamond;
    text-align:center;
    color:white;
    font-weight:bold;
    margin-top:3%;
    margin-bottom:15px;
}

.overlay section {
    width:80%;
    margin:0 auto;
    color:white;
    font-family:arial;
    
}

#shallWePlayAGame {
    width:200px;
    margin:0 auto;
    display:block;
}

.overlay section#intro p {
    text-align:center;
    font-size:16px;
    line-height: 18px;
    margin-bottom:8px;
}

.overlay section iframe {
    width:100%;
    height:600px;
    border:none;
    margin-top:20px;
    border:20px solid white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/* HELPFUL HINTS */

.bubble {
    position:absolute;
    background: #ECECEC;
    text-align:center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:14px;
    line-height:18px;
    color:#91B3C6;      
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: #91B3C6 solid 4px;
    -webkit-transition: all 1s ease-in-out 0.5s;
    transition: all 1s ease-in-out 0.5s;
}

.first_bubble {
    top:-80px;
    width: 105px;
    height: 65px;
    left:55px;
    padding:8px 2.5px 0;
    
}

.first_bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 12px 0;
    border-color: #ECECEC transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 37px;
}

.first_bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 15px 0;
    border-color: #91B3C6 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -22px;
    left: 34px;
}

.second_bubble {
    width: 285px;
    height: 120px;
    bottom:-165px;
    left:35%;
    padding:10px 8px 0px;
    
}

.second_bubble.animated {
    bottom:30px;
}

.second_bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 12px 0;
    border-color: #ECECEC transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 140px;
}

.second_bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 15px 0;
    border-color: #91B3C6 transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -22px;
    left: 137px;
}

.third_bubble {
    width: 285px;
    height: 240px;
    top:25%;
    right:-290px;
    padding:15px;
}

.third_bubble.animated {
    right:25px;
}

.third_bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 18px;
    border-color: transparent #ECECEC;
    display: block;
    width: 0;
    z-index: 1;
    right: -18px;
    top: 46px;
}


.third_bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 0 13px 21px;
    border-color: transparent #91B3C6;
    display: block;
    width: 0;
    z-index: 0;
    right: -25px;
    top: 43px;
}


#game_over h2 {
    font-size:24px;
    text-align:center;
}


/* SCORING SECTION */
#score {
    position: absolute;
    right:2%;
    top:2%;
    width: 200px;
    border: 1px solid #cccccc;
    display:none;
}

#score span {
    display:block;
}

#you {
    float:left;
    width:48%;
    box-sizing: border-box;
    padding:2%;
    margin-right:2%;
    border-right:1px solid #cccccc;
    text-align:center;
    
}

#joshua {
    float:right;
    width:48%;
    box-sizing: border-box;
    padding:2%;
    text-align:center;
    
}

#score > div > span {
    display:block;
}


/* Styles for once is game is over and computer lays deadwood */
.runs_wrapper {
	position:relative;
        height:152px;
        position:absolute;
}



.runs_wrapper section.wrapper > div:first-child {
	transform: rotateY(0deg);
	z-index:5;
	width:85px;
	float:left;
}

.runs_wrapper > .comp_player.wrapper {
    min-width:85px;
    height: 120px;
    float:left;
}
